* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    background-image: url("/Resources/Media/windmill.jpeg");
    color:white;
    text-align: center;
    margin: 0 auto;

}

.start img {
    height: 600px;
    width: fit-content;
}

.start h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    background-image: url("/Resources/Media/windmill.jpeg");
    opacity: 1;
    padding: 20px 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.start p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: normal;
    background-image: url("/Resources/Media/windmill.jpeg");
    opacity: 1;
    padding: 20px 10px;
    text-align: left;
    color: white;
    margin: 0 auto;
}