h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    background-image: url("/Resources/Media/windmill.jpeg");
    color:white;
    text-align: center;
    margin: 0 auto;

}

.start img {
    height: 600px;
    width: fit-content;
}

.start h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    background-image: url("/Resources/Media/windmill.jpeg");
    height: 100px;
    opacity: 0.8;
    padding: 20px 10px;
}

.start p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    background-image: url("/Resources/Media/windmill.jpeg");
    opacity: 1;
    padding: 20px 10px;
}